.card.closed.choosing, .voting .card {
  cursor: pointer;
}

.card.selected {
  border: #e91e63 solid 4px;
}

.card.winner {
  background-color: #e91e63;
}

.card {
  white-space: pre-wrap;
  overflow-y: auto;
  min-width: 200px;
}

.card .value {
  font-family: 'Roboto';
  letter-spacing: normal;
  word-wrap: break-word;
}
