<mat-card fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em" style="max-width: 100%;">
  <div class="gif" style="max-width: 100%; max-height: calc(100% - 120px); text-align: center;">
    <img alt="current-round-gif" src="{{gameService.getRound().gif.media[0].gif.url}}"  style="max-width: 100%; max-height: 100%;">
    <div fxLayout="row" fxLayoutAlign="end">
      <img alt="via-tenor" style="width: 10%; max-width: 100px;" src="../../assets/tenor/via_tenor_logo_white.png">
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="gameService.isRoundStatus(RoundStatus.CHOOSE_WINNER) && gameService.isChoosingPlayer(gameService.getPlayer())">
    <button fxFlex mat-raised-button color="primary" (click)="chooseWinner()" *ngIf="cardSelectionService.isCardSelected()">Select as Winner</button>
    <div class="mat-display-1" ngClass.gt-sm="mat-display-2" *ngIf="!cardSelectionService.isCardSelected()" style="margin-bottom: 0;color: #e91e63;">Choose a Winner</div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="gameService.getWinnerCard()">
    <div class="mat-display-1" ngClass.gt-sm="mat-display-2" style="margin-bottom: 0;color: #e91e63;">{{gameService.getWinnerCard().player}} is the winner</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="gameService.isRoundStatus(RoundStatus.START_NEXT_ROUND) && !isOkay()">
    <button fxFlex mat-raised-button color="primary" (click)="nextRound()">Next round</button>
  </div>
</mat-card>
