
<mat-card fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
  <img fxFlex="80" alt="current-round-gif" src="{{gameService.getRound().gif.media[0].gif.url}}" class="gif">
  <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center" *ngIf="gameService.isRoundStatus(RoundStatus.CHOOSE_WINNER)">
    <button fxFlex mat-raised-button color="primary" (click)="chooseWinner()" *ngIf="cardSelectionService.isCardSelected()">Als Gewinner wählen</button>
    <div class="mat-display-2" *ngIf="!cardSelectionService.isCardSelected()" style="margin-bottom: 0;color: #e91e63;">Gewinner auswählen</div>
  </div>
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center" *ngIf="gameService.getWinnerCard()">
    <div class="mat-display-2" style="margin-bottom: 0;color: #e91e63;">{{gameService.getWinnerCard().player}} is the winner</div>
  </div>
  <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center" *ngIf="gameService.isRoundStatus(RoundStatus.START_NEXT_ROUND) && !isOkay()">
    <button fxFlex mat-raised-button color="primary" (click)="nextRound()">Next round</button>
  </div>
</mat-card>
