<div fxLayout="row" fxLayoutGap="20px" fxFlex>
  <mat-card fxFlex="20" fxLayout="column" fxLayoutAlign="space-between">
    <app-game-status></app-game-status>
    <app-round-status></app-round-status>
  </mat-card>
  <app-wait-game-start fxFlex="100" *ngIf="!gameService.get().active"></app-wait-game-start>

  <div *ngIf="gameService.get().active" fxFlex="100" fxLayout="column" fxLayoutGap="1em">
    <app-gif-board fxFlex="80"></app-gif-board>
    <app-card-list fxFlex="20"></app-card-list>
  </div>
</div>
