<mat-card fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
  <div class="gif" style="max-width: 500px;">
    <div>The Rules: </div>
    <div style="font-family: 'Roboto'; letter-spacing: normal;">
      <ol id="rule-list">
        <li>
          You are the <span style="text-decoration: underline;" class="highlight">underlined player</span>
        </li>
        <li>
          The red player is the <span style="color: #e91e63;" class="highlight">Gif Master</span> . This will change every round
        </li>
        <li>
          In each round you will see a different gif. All player except of the Gif Master enter an as funny as possible text
          in their card.
          <span style="color: #76FF03;" class="highlight">Player</span> who committed their card will appear green.
        </li>
        <li>
          When all Gifer has entered their masterpieces the Gif Master reveal one card after each other and may read them loudly to share the funniness
        </li>
        <li>
          The Gif Master crowns the winner of the round. The winner gets one point
        </li>
        <li>
          Each Gifer clicks Next Round when ready. <span style="color: #76FF03;" class="highlight">Ready player</span> appear green again.
        </li>
      </ol>
    </div>
  </div>
  <div style="margin-top: 2em;" fxLayout="row" fxLayoutAlign="start end">
    <div style="color: white; padding-bottom: 2.3em; padding-right: 1em;">ID: {{gameService.get().id}}</div>
    <mat-form-field appearance="outline">
      <mat-label>Link</mat-label>
      <input id="link-input" matInput placeholder="" [value]="environment.host+'/game/'+gameService.get().id+'/join'">
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" (click)="copyLink()" style="margin-left: 0.5em; margin-bottom: 1.7em;">Copy</button>
    </div>
  </div>
  <div>
    <mat-hint style="position: relative; top: -1.5em; font-size: smaller">Share this link or the game id with your friends, to invite them to your game</mat-hint>
  </div>
  <div *ngIf="gameService.isHost()">
    <button mat-raised-button color="primary" (click)="startGame()" [disabled]="gameService.get().player.length < 3">Start Game</button>
    <div style="color: #e91e63; font-size: x-small;">min. 3 Gifer</div>
  </div>
  <div *ngIf="!gameService.isHost()">Wating for game start...</div>
</mat-card>
